body {
    
    
}
.whole {
    padding: 150px 25px;
    display: flex;
    background-color: #F0F2F5;
    font-family:Helvetica, Arial, sans-serif ;
}

.facebook-logo {
    margin-left: -50px;
    margin-bottom: -30px;
    height: 100px;
    width: 400px;
}
.info {
    padding-left: 40px;
    font-size: 24px;
    text-align: left;
}

.sign-in-create {
    text-align: center;
}

.sign-in {
    display: flexbox;
    margin-left: 25px;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    border-color: #F0F2F5;
    padding: 0;
    text-align: center;
    
}
.email,
.password,
.log-in {
    border-color: #F0F2F5;
    box-sizing: content-box;
    margin: 5px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    
}
.log-in {
    background-color: #1877f2;
    color: #FFFFFF;
    font-weight: bold;
}

.forgot {
    text-decoration: none;
}